*.png
*.jpg
wp-content/plugins/wordpress-importer/languages/wordpress-importer.pot
wp-content/uploads/2016/08/wptest.xml_.txt
wp-content/plugins/wordpress-importer/tmp-wordpress-importer-readme.pot
wp-content/plugins/wordpress-importer/readme.txt
wp-content/plugins/wordpress-importer/parsers.php
wp-content/plugins/wordpress-importer/wordpress-importer.php
*.mo
wp-content/languages/admin-network-ru_RU.po
*.po