/*DOCUMENTATION
--------------------------------------------------------------------*/
/*

1. RESET CSS

2. MAIN THEME REPEATABLE ELEMENTS
	2.1. COMMON ELEMENTS
	2.2. CLEARFIX
	2.3. SCROLL UP BUTTON
	2.4. BUTTON
	2.5. TAB TABLE
	2.6. NAVIGATION
	2.7. HEADER
	2.8. FOOTER
	2.9. COMMENT
3. INDEX HTML STYLING
	3.1. ABOUT-US SECTION
	3.2. NEWS SECTION
	3.3. NEW-FOOD SECTION
	3.4. VIETLUNCH SECTION
	3.5. BOOKING SECTION

4. PAGES STYLING
	4.1. COMMON PAGES STYLING
	4.2. ARCHIVE-MENU STYLING
	4.3. ARCHIVE-FOOD STYLING
	4.4. SINGLE-FOOD STYLING
	4.5. SINGLE-PAGE STYLING

*/


@import url('http://webfonts.ru/import/nickainley.css');
@import url('http://webfonts.ru/import/marckscript.css');
@import url('http://webfonts.ru/import/badscript.css');
@import url('http://webfonts.ru/import/comfortaa.css');


/*1. RESET CSS
---------------------------------------------------------------------------------*/


*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}


/*2. MAIN THEME REPEATABLE ELEMENTS
-----------------------------------------------------------------------------------*/

/* 2.1. COMMON ELEMENTS
------------------------------------------------*/

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body {
	font-family: "comfortaa", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	background: url(../img/ricepaper2.png);
}
.container{padding: 0; }
.row{ margin: 0; }
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
.section-title h2{
	color: rgb(17,91,54);;
}
h1{
/*	color: #fff;
	line-height: 6px*/;
	text-align: center;
	font-family: 'marck script';
	font-weight: bold;
	font-size: 50px;
	margin: 0;
	margin-bottom: -25px;
}
h2, h3, h4, h5, h6{ text-align: center; }
/*.section-title{background-color: rgb(17,91,54); }*/
.section:not(.footer){
	min-height: 100vh;

}
.section:not(.header):not(.new-food):not(.cd-slider-wrapper):not(.contact-us){
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   ;
	justify-content: center;
	align-items: center;
}
.section p{
	font-size: 16px;
}
ul li a { text-decoration: none; }
.contact-us-form label{
	color: #fff;
}
.col_centered{
	margin: 0 auto;
	text-align:center;
}
.col-centered{
	margin: 0 auto;
}
/* 2.2. CLEARFIX
---------------------------------------------------*/

/* слегка доработанный, универсальный clearfix хак */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* 2.3. SCROLL UP BUTTON
--------------------------------------------------*/

.scrollup {
	width: 36px;
	height: 36px;
	position: fixed;
	bottom: 45px;
	right: 7px;
	border-radius: 12px 0;
	display: none;
	text-indent: -9999px;
	background: url(../img/arrow.svg);
	background-color: rgba(160,50,110, .75);
	-webkit-filter: invert(100%);
	background-size: 34px 35px;
}

/* 2.4. BUTTON
---------------------------------------------------*/
 .morebutton a {
	display: block;
	float: right;
	width: auto;
	background: rgb(17,91,54);
	text-align: center;
	padding: 4px 12px;
	position: relative; 
	top: 6px;
	left: -17px;
	font-size: 18px;
	text-decoration: none;
	color: #fff;
}
.morebutton a:before {
}
.morebutton a:after {
	content: "";  
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 15px solid rgb(17,91,54);
	position: absolute; right: -15px; top: 0;
}
/*button, .button {
	padding: 5px 10px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 2px;
	box-shadow: 0 5px #999;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}
button:hover, .button:hover {background-color: #eee;}
button:active, .button:active {
	background-color: #eee;
	box-shadow: 0 3px #666;
	transform: translateY(3px);
}*/
.butt, button,.button{
	padding: 5px 20px;
	color: rgb( 17,91,54);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	margin: 0.5% 0!important;
	background-color: #fff;
	border: 2px solid rgb(17,91,54);
	display: inline-block;
	transition: 0.25s;
}
.butt:hover,button:hover,.button:hover,.butt:active,button:active, .button:active {
	color:#fff;
	background-color: rgb(17,91,54);
}
 .butt:focus,button:focus, .button:focus {outline:0;} 
/* 2.5. TAB TABLE
--------------------------------------------------*/

#tabs {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: -1px;
}
/*#tabs h2{
	font-family: 'marck script';
}*/
#tabs li {
	float: left;
	margin: 0 .3em 0 0;
}
#tabs a {
	position: relative;
	background: #eee;
	padding: .2em 1em;
	float: left;
	text-decoration: none;
	color: #444;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
}
#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
	background: #fff;
}
#tabs a:focus {
	outline: 0;
}
#tabs a::after {
	content:'';
	position:absolute;
	z-index: 1;
	top: 0;
	right: -.5em;  
	bottom: 0;
	width: 1em;
	background: #eee;
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
	transform: skew(10deg);
}
#tabs a h2{
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
}
#tabs #current a,
#tabs #current a::after {
	background: #fbfbfb;
	z-index: 3;
	color: #000;
}
#content {
	background: #fbfbfb;
	min-height: 100%;
	position: relative;
	z-index: 2; 
	border-radius: 0 5px 5px 5px;
	box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
	border-radius:0;
	overflow: hidden;
	padding: 10px 0;
}


/* 2.6. NAVIGATION
----------------------------------------------------*/

.toggle-menu{
	display: none;
	z-index: 2;
}
.toggle-menu img{
	width: 50px;
	border-radius: 50%;
	z-index: 2;
}
.site-title img{
	max-width: 100px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 0px 3px 4.69px 2.31px rgba(0, 0, 0, 0.35);
}
.nav-list{
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   ;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}
.nav-list > li {
	position: relative;
	z-index: 2;
}
.nav-list>li:not(.has-logo)>a{
	text-transform: uppercase;
	display: block;
	padding:6px 1rem;
	font-size: 17px;
	transition: 0.4s ease;
	color: #ffffff;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}
.nav-list>li:not(.has-logo)>a:hover, .nav-list ul a:hover{
	background-color: rgba(17,91,54,0.9);
}
.nav-list ul{
	position: absolute;
	z-index: 1010;
	background-color: rgba(17,91,54,0.8);
	line-height: 2rem;
	left: -9999px;
}
.nav-list ul a{
	font-weight: normal;
	display: block;
	padding: 8px 10px;
}
.nav-list > li:hover a + ul{
	left: 0;
	top:100%;
}
.mobile-display{
	display: none;
}
nav a{
	color: #fff;
}
a{ color:#444 ; }

/* 2.7. HEADER
---------------------------------------------------*/

.header{
	background-position: center center;
	position: relative;
	background-size: cover;
}
.top_line{
	height: 40px;
	background-color: rgba(17,91,54,0.7);
	position: relative;
	top: 43px;
	width: 100%;
	margin-bottom: -27px;
	z-index: 1;
}
.top_line2{
	height: 40px;
	background-color: rgba(17,91,54,0.7);
	position: relative;
	top: 43px;
	width: 100%;
	margin-bottom: -27px;
	z-index: 1;
}
.vhmain{ 
	top: 60px;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   ;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}

.quad{
	width: 310px;
	height: 140px;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -155px;
	background-color: rgba(0, 0, 0, 0.749);
	border: 1px solid #fff;
	border-radius: 45px 0 45px 0;
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.749);
	text-align: center;
}
.header p{
	font-family: 'marck Script';
	color: #fff;
	text-align: center;
	font-size: 2em;
}
.quad img{
	width: 80px;
	height: auto;
	margin: -20px 0;
}
.bubble{
	width: 140px;
	height: 200px;
	position: absolute;
	bottom: 0;
	right: 5%;
	z-index: 1;
	background-image: url(http://localhost:8080/nhahang/wp-content/themes/AsiteRestaurant/template/viethouse/img/bubble3.png);
	background-size: cover;
}
.bubble p{
	position: absolute;
	bottom: 50px;
	right: 5%;
}
.bubble p a{
	color: #fff;
	text-align: center;
}
/* -------------------------------- 

Slider

-------------------------------- */
/*img, svg, image {
  max-width: 100%;
}*/
.owl-carousel3 {
  position: absolute!important;
  top: 0!important;
  z-index: 0!important;
  width: 100%!important;
  margin: 0 auto!important;
  height: 100vh!important;
  overflow-x: hidden!important;
}
.item-headslide{
	width: 100vw;
	height: 100vh;
}
.item-headslide-img{
	width: 100%;
	height: 100%;
}
.item-headslide-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* 2.8. FOOTER
---------------------------------------------------*/

.footer{
	background-color: #131514;
}

.social{
	margin: 43px auto;
	display: inline-block;
	float: right;
	letter-spacing: 13px;
}

.social i{
	font-size: 40px;
	color: #fff;
}
.credit{
	border-left: 1px solid #fff;
		padding: 11px 20px;
		margin: 18px auto;
	display: inline-block;
	float: left;
}
.credit h6, .contact-info h6{
	color: rgb(100,100,100);
	font-size: 12px;
}
tbody tr:nth-child(2n-2) {
	background-color: #f5f5f5;
	transition: all .125s ease-in-out;
}

/* 2.9. COMMENT
------------------------------------------------------*/
.comment-author img{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 14px;
}
cite.fn{
	font-size: 18px;
	margin-right: 14px;
	line-height: 40px;
	float:left;
	font-style: normal;
	font-weight: bold;
}
.comment-meta{
	border-bottom: 1px solid #ccc;
}
.comment-meta a{
	font-size: 12px;
	line-height: 45px;
}
.comment-body{
	margin: 20px 0;
}
.comment-body p{
	margin: 2px 0 0 0;
}
.comment>ul.children{
	padding-left: 40px;
}
ul.children ul.children{
	padding-left: 40px;
}
.says{
	display: none;
}

/*3. INDEX HTML SECTION STYLE
----------------------------------------------------------------------------*/

/* 3.1. ABOUT-US SECTION
-----------------------------------------------*/

.about-us{ position: relative; }
.about-us::after{
	content: "";
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
/*.about-us-title{ box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
*/
.about-us-text{
	text-align: center;
	border-image: url(../img/content/bamboo-small.png);
	margin: 40px;
}
.border-line{
	border-bottom: 1px solid #ccc;
}
.au-fact{
	margin: 30px auto;
	text-align: center;
}
/*.au-fact div{
	margin: 20px 0;
}*/

.au-fact div span{
	font-size: 30px;
	font-family: 'marck script';
	display: block;
}
.au-fact p{
	font-size: 18px;
	margin: 5px;
}
.au-fact i{
	font-size: 30px;
	color: #fff;
	background: rgb(17,91,54);
	border-radius: 50%;
	padding: 15px;
	width: 60px;
	height: 60px;
	margin: 5px;
}
.about-us-time{
	text-align: center;
	line-height: 30px;
	border-left: 1px solid #fff;
}
.row-about-us{
/*	padding: 60px 20px;
	background: rgba(23,21,21,.7);
	margin: 22px;*/
}

/* 3.2. NEWS SECTION
-------------------------------------------------*/

.news{
	min-height: 430px;
	position: relative;
	overflow: hidden;
}
.about-us-title,.food-title, .news-title, .food-menu-title, .booking-title{
	padding: 1px 0px;
}
.article{
    height: 28vh;
/*    background-color: #fff;*/
    /* border: 4px dashed #ccc; */
    /* margin: 11px auto; */
    overflow: hidden;
    padding: 1%;
	-webkit-filter: grayscale(80%); /* Chrome, Safari, Opera */
	filter: grayscale(80%);
	-webkit-transition: 0.6s;
	transition: 0.6s;
}
.article:hover{
	-webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
	filter: grayscale(0);
}
.article-name{
	padding-top: 1%;
}
.article-img{
	height: 100%;
	width: 30%;
	padding: 1%;
	border: 4px dashed rgb(17,91,54);
}
.article img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.article-date{
	font-size: 14px;
	text-transform: uppercase;
	color: #888;
}
.align-text-left h4{
	text-align: left;
}
.align-text-right h4{
	text-align: right;
}
.article-text{
	height: 35%;
	padding: 1% 0;
	overflow: hidden;
}
.article-text h4{
	display: table-cell;
	vertical-align: middle;
}
.bamboo{
	overflow: hidden;
	height: 100vh;
}
.bamboo img{
	height: 100vh;
	position: absolute;
	right: 0px;
	z-index: 1;
}

/* 3.3. NEW-FOOD SECTION
------------------------------------------------*/

.new-food{
	background-position: center;
	position: relative;
	z-index: 0;
/*	min-height: 100vh*/;
	padding: 0 6%;
}
.new-food::after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	background-position: center;
	background-size: 110%;
	width: 100%;
	height: 100%;
	opacity : 0.87;
	z-index: -1;
}
.item-new-food{
	height: 40vh;
	border: 5px solid #ccc;
	margin: 0px 4.5%;
}
.item-new-food-info::after {
    content: '';
    position: absolute;
    left: 40%;
    top:42%;
    border-bottom: 20px solid transparent;
    border-left:  20px solid white;
    border-right:  20px solid transparent;
    border-top:  20px solid transparent;
    z-index: 10;
}
.owl-carousel{
	height: 40vh;
	margin: 2vh 0px;
}
.item-new-food-info{
	height: 100%;
	width: 40%;
	background: #fff;
	display: block;
	float: left;
	text-align: center;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   ;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
p.it-nf-name{
	font-size: 2em;
	font-family: 'marck script';
	line-height: 0.8;
	letter-spacing: -2px;
}
p.it-nf-price{
	font-size: 1.5em;
	color: rgb(17,91,54);
}

.item-new-food-image{
	height: 100%;
	width: 60%;
	background: red;
	display: block;
	float: right;
}
.item-new-food-image img{
	object-fit: cover;
	height: 100%;
	width: 100%!important;
}
.menu-food {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background: white;
	border: 4px dashed rgb(17, 91,54);
	padding: 0px;
	min-width: 320px;
}
.food-menu-title{
/*	background-color: rgb(17,91,54);*/
}
.food-menu{
	max-height: 100vh;
	overflow: hidden;
	margin-top: 18px;
}
.food-menu table{
	min-width: 100%;
	margin: 0 auto;
}
.food-menu th,.food-menu td{
	min-width:100px;
	text-align: center;
	padding: 8px 20px;
	color: #000;
	font-size: 16px;
}
.food-menu th a,.food-menu td a{
	color: #000;
}
.food{
	width: 95px;
	height: 95px;
	overflow: hidden;
	border: 3px solid #ccc;
	transition: .5s;
}
.food img{
	width: 100%;
	object-fit: cover;
	height: 95px;
}
.food:hover{
    position:relative;
    width:180px;
    display:block;
    z-index:999;
}
td .food-text{
	width: 200px;
}

/* 3.5. BOOKING SECTION
------------------------------------------------*/

.booking{
	background-image:url(../img/bg1.jpg);
	background-size:cover;
}
/*.booking h1{
	color: #fff;
}*/
/*.booking .section-title h2{
	color: #5fcd91;
}*/
.booking-info{
	width: 600px;
	border: 4px dashed rgb(17,91,54);
	box-sizing: border-box;
	padding: 10px;
	background-color: #fff;
}
.booking-info .section-title{
	background-color: #fff;
}
.rtb-booking-form{
	/*border: 4px dashed rgb(17,91,54);*/
}
.rtb-booking-form form{
	padding: 10px 20px;
	/*background-color: rgba(00,00,00,.87);*/
	background-color: #fff;

}
.rtb-booking-form fieldset.reservation,
.rtb-booking-form fieldset.contact{
	display: inline-block!important;
	float: left;
	width: 262px;
}
.rtb-booking-form fieldset.reservation legend,
.rtb-booking-form fieldset.reservation label,
.rtb-booking-form fieldset.contact legend,
.rtb-booking-form fieldset.contact label{
	color:#444;
}

/* 3.6. CONTACT-US SECTION
-------------------------------------------------*/
/*gallery*/
.gallery{
	min-height: 100vh;
	background: #444 url('https://www.omnihotels.com/-/media/images/hotels/homrst/restaurants/homrst-omni-homestead-resort-casino-restaurant.jpg');
	background-blend-mode: darken;
}
.gallery .section-title h1{
	color: #fff;
}
.ih-item{
	width: 100%!important;
	height: 25vh!important;
	margin: 1.5vh 0;
	overflow: hidden;
	border: none!important;
}
.ih-item.square .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item .info{
	width: 100%!important;
}

.ih-item .img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.ih-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*testmonial*/
.owl-carousel2{
	max-height: 25vh;
}
.item-testm{
	min-height: 25vh;
	color: #fff;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   ;
	justify-content: center;
	align-items: center;
}
.item-testm-content{
}
.item-testm-pers{
	width: 100px;
	float: left;
}
.item-testm-pers-img{
	width: 85px;
	height: 85px;
	background: black;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #ccc;
}

.item-testm-pers-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.item-testm-pers-name h4{
	text-align: left;
	color: #888;
}
blockquote:before {
  content: open-quote;
  font-size: 22px;
  text-align: center;
  line-height: 22px;
  color: rgba(17, 91, 54, 0.9);
  background: #fff;
  float: left;
  position: relative;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  margin-right: 25px;
}
blockquote:after {
  content: close-quote;
  font-size: 22px;
  text-align: center;
  line-height: 22px;
  color: rgba(17, 91, 54, 0.9);
  background: #fff;
  float: right;
  display: block;
  position: relative;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  margin-right: 50px;
}
blockquote cite{
	color: #aaa;
}
/*contact-us*/
.contact-us-content{
	width: 100%;
}
.contact-us-info{
	background-color: #fff;
	overflow: hidden;
	padding: 0px;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin: 0 auto;
	min-height: 100vh;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   ;
	justify-content: center;
	align-items: center;
}
textarea,
input{
	width: 100%;
	resize: none;
	margin: 5px;
	color: #333;
	font-size: 14px;
}
.contact-us-form textarea{
	height: 90px;
}
.contact-us-form p{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.google-map{
	width: 350px;
	height:350px;
	overflow: hidden;
	margin:20px auto;
	padding: 5px;
	border: 4px dashed rgb(17,91,54);
}
.google-map img{
	width: 100%;
}
.btn{
	padding: 4px 12px;
	width: 182px;
}
/*map*/
#map-canvas{
	height: 360px;
	width: 100%;
}


/*END INDEX HTML STYLE
----------------------------------------------------------------------------*/


/*4. PAGES STYLING
----------------------------------------------------------------------------*/

/* 4.1. COMMON PAGES STYLING
------------------------------------------------*/

/*PAGE-BLOCK STYLING*/
.page-block{
	padding: 30px 0;
}
.page-block h2{
	color: #444;
	font-size: 22px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: #101010;
	margin-bottom: 15px;
	font-weight: 800;
	letter-spacing: 2px;
	position: relative;
	border-bottom: 5px solid #e0e0e0;
}
.page-block h2::after {
	content: '';
	width: 36px;
	height: 0;
	display: block;
	border-bottom: 5px solid rgba(17,91,54,0.8);
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -18px;
}

/*PAGE-BOTTOM STYLING*/
.page-bottom{
	background: #fff;
	margin: 30px 0;
	padding: 0px 0 10px 0;
}
.pb-otherpost{

}
.pb-otherpost img{
	width: 100%;
}

.pb-otherpost p{
	padding: 5px 10px;
	text-align: center;
}

/*SEARCH-FORM STYLING*/
form #search {
	width: 70%;
	padding: 5px 10px;
	outline: none;
	color: #000;
	background-color: #fff;
	border: none;
	box-shadow: 0 5px #999;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	/*box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);*/
}

/*PAGE NUMBER*/
.paginate {
  display: block;
  width: 100%;
  font-size: 12px;
}
.paginate.pag2 li { font-weight: bold; }
.paginate.pag2 li a {
	display: block;
	float: left;
	color: #333;
	text-decoration: none;
	padding: 5px 10px;
	margin-right: 6px;
	border-radius: 2px;
	border: 1px solid #ddd;
	background-color: #fff;
	-webkit-box-shadow: 0 5px #aaa;
	-moz-box-shadow: 0 5px #aaa;
	box-shadow: 0 5px #aaa;
}
.paginate.pag2 li a:hover {
	color: #d0ae5e;
}
.paginate.pag2 li a:active {
	position: relative;
	top: 1px;
	background-color: #eee;
	-webkit-box-shadow: 0 4px #999;
	-moz-box-shadow: 0 4px #999;
	box-shadow: 0 4px #999;
}
.paginate.pag2 li.single, .paginate.pag2 li span.page-numbers {
	display: block;
	float: left;
	padding: 6px 11px;
	padding-top: 8px;
	margin-right: 6px;
	border-radius: 3px;
	color: #676767;
}

/*SIDEBAR STYLING*/
.page-content, .sidebar, .page-bottom{
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	outline: 1px solid #EAEAEA;
	padding-bottom: 20px;
}
.sidebar{
	background: #fff;
	text-transform: uppercase;
}
.sidebar ul li{
	padding: 10px;
	border-bottom: 1px solid #eee;
	text-align: center;
}
#nestedlist, #nestedlist ul {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  list-style-type: none;
  margin-left:0;
  padding-left:15px;
  text-indent: -4px;
}

/* UL Layer 1 Rules */
#nestedlist {
  font-size: 16px;
  font-weight:bold;
}

/* UL Layer 2 Rules */
#nestedlist ul {
  font-size: 18px;
  font-weight: normal;
  margin-top: 3px;
}

/* UL Layer 3 Rules */
#nestedlist ul ul {
  font-size: 16px;
}

/* UL 4 Rules */
#nestedlist ul ul ul {
  font-size: 14px;
}
/*POSTRECENT IN SINGLE-PAGE STYLING*/
.post-info{
	margin-bottom: 10px;
	display: table;
	background: #e8e8e8;
	width: 100%;
	padding: 7px 14px;
}
.post-info time, .post-info a{
	display: table-cell;
	letter-spacing: 0;
	padding-right: 4px;
	font-size: 13px;
	font-weight: 500;
	text-align: center;
	padding-right: 4px;
	margin-bottom: 0;
	border-right: 2px solid #fff;
	color: #4a4a4a;
}
.single-food .sf-description #content #tab1{
	text-align: center;
}

/* 4.2. ARCHIVE-MENU STYLING
-------------------------------------------------*/

div.new-page {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  background: url(../img/ricepaper2.png)
}

.category-list{
	padding: 10px;
}

.archive-menu{
	background-color: #fff;
}

.archive-menu-name{
	padding-top: 20px;
}

.archive-menu-name h2{
	color: #000;
	text-align: center;
}

.archive-menu-name::after{
	content: "";
	margin: 14px auto 10px;
	width: 140px;
	height: 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #e1e1e1;
}

.archive-menu-content{
	display: block;
	margin-bottom: 20px;
	padding: 30px 20px;
	overflow: hidden;
}

.amc-item{
	margin-bottom: 20px;
	clear: both;
}

.amc-item-npr{
	clear: both;
	width: 100%;
	min-height: 30px;
	position: relative;
	overflow: hidden;
}

.amc-item-n a{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #444;
	padding: 1px 4px;
	display: inline-block;
	float: left;
}
.amc-item-pr{
	color: #444;
	float: right;
	font-size: 16px;
	font-weight: 500;
	padding: 1px 4px;
	position: absolute;
	right: 0;
	background: #fff;
	border-radius: 27px;
}
.amc-item-n a::after{
	content: '';
	display: inline;
	float: right;
	border-bottom: 1px dashed #d2d2d2;
	width: 100%;
	position: absolute;
	margin-left: 5px;
	bottom: 17px;
}
.amc-item-consist{
	padding-left: 4px;
	color: #9a8b84;
	font-size: 13px;
	font-family: 'Droid Serif','Montserrat', Helvetica, Arial, sans-serif;
	padding-left: 4px;
}

/* 4.3. ARCHIVE-FOOD STYLING
------------------------------------------------------*/

.archive-food{
	background-color: #fff;
}
.archive-food-name{
	padding-top: 20px;
}
.archive-food-name h2{
	color: #000;
	text-align: center;
}
.archive-food-name::after{
	content: "";
	margin: 14px auto 10px;
	width: 140px;
	height: 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #e1e1e1;
}
.archive-food-content{
	display: block;
	margin-bottom: 20px;
	padding: 30px 20px;
	overflow: hidden;
}
.afc-item{
	margin: 10px 2% 10px 3%;
	width: 45%;
	box-sizing: border-box;
	float: left;
	height: 260px;
}
.afc-item-img{
	margin-bottom: 10px;
	height: 190px;
	position: relative;
}
.afc-item-img img{
	width: 100%;
	object-fit: cover;
	height: 190px;
	border-bottom: 5px solid #e0e0e0;
}
.afc-item-npr{
	clear: both;
	width: 100%;
	min-height: 30px;
	position: relative;
	overflow: hidden;
}
.afc-item-n a{
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 1px 4px;
	display: inline-block;
	float: left;
}
.afc-item-pr{
	color: rgba(17,91,54,0.85);
	float: right;
	font-size: 16px;
	font-weight: 700;
	padding: 1px 11px;
	position: absolute;
	right: 0;
	background: #fff;
	border-radius: 27px;
}
.afc-item-n a::after{
	content: '';
	display: inline;
	float: right;
	border-bottom: 1px dashed #d2d2d2;
	width: 100%;
	position: absolute;
	margin-left: 5px;
	bottom: 17px;
}
.afc-item-consist{
	padding-left: 4px;
	color: #9a8b84;
	font-size: 13px;
	font-family: 'Droid Serif','Montserrat', Helvetica, Arial, sans-serif;
	padding-left: 4px;
}
.aligncenter{
	margin: 0 auto;
}
.alignleft{
	float: left;
	margin: 0 20px 0 0;
}
div.alignleft{
	margin: 0 20px 0 0;
}
.alignright{
	float: right;
	margin: 0 0 0 20px;
}
div.alignright{
}
div.alignnone{
	box-sizing: border-box;
}
.alignnone, .alignnone img{
	width: 100%!important;
	height: auto;
}
/* 4.4. SINGLE-FOOD STYLING
-------------------------------------------------------*/
.sf-images{
	width: 48%;
	float: left;
	height: 48%;
	margin-bottom: 20px;
	margin-top: 20px;
}
.sf-images img{
	width: 100%;
}
.otherfood-list img{
	width: 100%;
	object-fit: cover;
	height: 190px;
}
.sf-info{
	width: 48%;
	float: right;
	background: #fff;
	color: #000;
	padding: 10px;
}
.single-food h2, .single-food h3{
	color: #000;
	text-align: center;
	margin-bottom: 10px;
}
.single-food .sf-description #tab1 img{
	width: 60%;
	margin: 10px auto;
	display: block;
}
p.price{
	color: #1a1a1a;
	font-size: 35px;
	line-height: 1.6;
	margin: 10px 0;
	font-weight: 300;
	text-align: center;
	border: 6px solid rgba(17,91,54,0.8);
}
p.description{
	font-size: 13px;
	font-weight: normal;
	color: #96989a;
	line-height: 1.6;
	margin-bottom: 30px;
}
.single-food #content{
	float: none;
	background: #fff;
	margin: -1px 0 2em;
	padding: 20px;
}
.single-food #content h2{
	font-size: 19px;
	font-weight: normal;
}
.of-item{
	width: 31%;
	background: #fff;
	padding: 10px;
	float: left;
	margin: 0 1%;
}
.of-img{
	width: 100%;
}
p.of-price{
	color: #1a1a1a;
	font-size: 15px;
	line-height: 1.6;
	margin: 5px 0;
	font-weight: 300;
	text-align: center;
	border: 4px solid rgba(17,91,54,0.8);
}

#marker-content{
	display:none;
}

.inlinecssfix{
	display: none;
}

/* 4.5. SINGLE-PAGE STYLING
-------------------------------------------------------*/
.single-page {background: #fff;}

.single-page-name{
	background: #fff;
}


.spc-header{
	background: #fff;
	text-align: center}
.spc-header img{width: 100%; height: 100%;}

.spc-content{
	padding: 0px 20px;
	background: #fff;
	overflow: hidden;
}
.spc-content p, .spc-content table tbody{
	margin: 16px 0px;
}
.spc-content ol ol, .spc-content ul ol, .spc-content ol ul, .spc-content ul ul{
	padding-left: 20px;
}
.spc-content-img{
	text-align: center;
	padding: 20px 0;
	font-style: italic;
}

.spc-content-img img{
	width: 100%;
}


.page-content .single-page .updated{
	display: none;
}
