*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
.container{
	max-width: 972px;
}
.header{
	background-image: url(../img/top_bg.jpg);
	min-height: 430px;
	background-position: center center;
	position: relative;
}
.col_centered{
	margin: 0 auto;
	text-align:center;
}
.top_line{
	height: 27px;
	background-color: #115b36;
	opacity: .83;
	position: relative;
	top: 36px;
	width: 100%;
	margin-bottom: -27px;
}

.vhmain{
	top: 60px;
}

.quad{
	max-width: 500px;
	max-height: 167px;
	background-color: rgba(0, 0, 0, 0.749);
	border: 1px solid #fff;
	border-radius: 45px 0 45px 0;
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.749);
	position: relative;
	margin-bottom: 150px;
}

h1{
	color: #fff;
	text-align: center;
	line-height: 25px
}
h2, h3, h4, h5, h6{
	color:#fff;
}
.top_mnu img, .nav img{
	width: 100px;
	border-radius: 50%;
}

.about-us{
	min-height: 430px;
	position: relative;
	background-color: rgba(17,91,54,0.7)
}

.about-us::after{
	content: "";
	background-image: url(../img/about-us-bg.jpg);
	background-position: center center;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.about-us-text{
	padding: 0 80px;
	margin: 80px 0;
	border-right: 10px solid white;
	border-image: url(../img/content/bamboo-small.png)
}

.about-us-time{
	padding: 20px 0;
	margin-top: 80px;
	text-align: center;
	line-height: 30px;
	border-left: 1px solid #fff;
}

.news{
	min-height: 430px;
	background-image: url(../img/news-bg.jpg);
	background-position: center;
	position: relative;
	overflow: hidden;
}

.news h2{
	margin-top: 22px;
}

.food-title, .news-title, .food-menu-title, .booking-title{
	padding: 1px 10px;
	-webkit-box-shadow: 0 0 0 5px rgba(57, 141, 73, .7);
	box-shadow: 0 0 0 5px rgba(57, 141, 73, .7);

}
.borl{
	border-radius: 0 45px;
}
.borr{
	border-radius: 45px 0;
}
.article{
	height: 120px;
	background-color: rgba(00,00,00,0.7);
	-webkit-box-shadow: 0 0 0 5px rgba(57, 141, 73, .7);
	box-shadow: 0 0 0 5px rgba(57, 141, 73, .7);
	margin: 11px auto;
	overflow: hidden;
	display: inline-flex;
}

.article img{
	width: 160px;
}

.article-text{
	padding: 20px;
}

.bamboo{
	overflow: hidden;
	height: 100%
}

.bamboo img{
	height: 100%;
	position: absolute;
	right: 0px;
	z-index: 1;
}



.new-food{
	min-height: 250px;
	background-position: center;
	position: relative;
	z-index: 0;

}

.new-food:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/new-food-bg.jpg);
    background-position: center; 
    width: 100%;
    height: 100%;
    opacity : 0.66;
    z-index: -1;
}


.item{
	height: 124px;
	width: 124px;
	-webkit-box-shadow: 0 0 0 8px rgb(17,91,54);
	box-shadow: 0 0 0 8px rgb(17,91,54);
	border-radius: 45px 0;
	overflow: hidden;
	margin: 20px;
	position: relative;
	-webkit-transition: ease-out 0.25s;
	-moz-transition: ease-out 0.25s;
	-o-transition: ease-out 0.25s;
	transition: ease-out 0.25s;
}

.item:hover{
	-webkit-box-shadow: 0 0 0 8px #fff;
	box-shadow: 0 0 0 8px #fff;
	border-radius: 0;

}
.item img{
	min-width: 100%;
	height: 100%;
}

.item h5{
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	padding: 2px 6px;
}



.section-title{
	background-color: rgb(17,91,54);
	margin: 5px;
}

.container{
	padding: 0;
}

.row{
	margin: 0;
}



/*styling the header part*/
.toggle-menu{
	display: none;
}
.toggle-menu img{
	width: 50px;
	border-radius: 50%;
}


.site-title img{
	max-width: 100px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 0px 3px 4.69px 2.31px rgba(0, 0, 0, 0.35);
}

.nav-list{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}
.nav-list > li {
	position: relative;
}

.nav-list>li:not(.has-logo)>a{
	text-transform: uppercase;
	display: block;
	padding:1rem;
}

.nav-list ul{
	position: absolute;
	z-index: 1010;
	background-color: #fff;
	line-height: 2rem;
	left: -9999px;	
}

.nav-list ul a{
	font-weight: normal;
	display: block;
	padding: .5rem 1rem;	
}

.nav-list > li:hover a + ul{
	left: 0;
	top:100%;
}

.mobile-display{
	display: none;
}

a{
	color: #fff;
}


/**/

.food-menu{
	min-height: 100%;
	background-image: -moz-linear-gradient( 84deg, rgb(255,255,255) -70%, rgb(17,91,54) 100%);
    background-image: -webkit-linear-gradient( 84deg, rgb(255,255,255) -70%, rgb(17,91,54) 100%);
    background-image: -ms-linear-gradient( 84deg, rgb(255,255,255) -70%, rgb(17,91,54) 100%);
}

.food-menu table{
	max-width: 912px;
	margin: 0 auto;
}

.food-menu th,.food-menu td{
	min-width:100px;
	text-align: center;
	padding: 8px 0;
	border-top: 1px solid #fff;
	color: #fff;
	font-size: 12px;
}

.food{
	width: 120px;
	height: 80px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 0 0 3px rgba(57,141,73,.8)
}
.food img{
	width: 100%;
}

td .food-text{
	width: 200px;
}


.booking{
	min-height: 100%;
	background-image:url(http://7606-presscdn-0-74.pagely.netdna-cdn.com/wp-content/uploads/2016/06/4-2.jpg);
	background-position: top center;
	background-size:100%;
}

.contact-us{
	min-height: 460px;
	position: relative;
	background-image: url(../img/contact-us-bg.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.contact-us::after{
	content:"";
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.contact-us-small{
	width: 780px;
	height: 410px;
	background-color: rgba(23,21,21,.7);
	overflow: hidden;
	padding: 10px;
}

.contact-us-form{
	padding: 5px 40px;
}
.contact-us-form textarea,
.contact-us-form input{
	width: 200px;
	resize: none;
	margin: 5px;
}
.contact-us-form textarea{
	height: 90px;
}

.google-map{
	width: 390px;
	overflow: hidden;
	margin:20px auto;
}

.google-map img{
	width: 100%;
}

.col-centered{
	margin: 0 auto;
}

label{
	color: #fff;	
}

.btn{
	padding: 4px 12px;
	width: 182px;
}

.footer{
	height: 127px;
	background-color: #131514;
}

.social{
	margin: 43px auto;
	display: inline-block;
	float: right;
	letter-spacing: 13px;
}

.social i{
	font-size: 40px;
	color: #fff;
}
.credit{
	border-left: 1px solid #fff;
	padding: 22px 20px;
	margin: 16px auto;
	display: inline-block;
	float: left;
}
.credit h6, .contact-info h6{
	color: rgb(100,100,100);
	font-size: 12px;
}


/* слегка доработанный, универсальный clearfix хак */

.clearfix:after {

     visibility: hidden;

     display: block;

     font-size: 0;

     content: " ";

     clear: both;

     height: 0;

     }

.clearfix { display: inline-block; }

/* start commented backslash hack \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* close commented backslash hack */

.rtb-booking-form form{
	padding: 10px 20px;
	background-color: rgba(00,00,00,.8);
}


.rtb-booking-form fieldset.reservation,
.rtb-booking-form fieldset.contact{
	display: inline-block!important;
	float: left;
	width: 262px;
	color: #fff;
}



/*tab design*/
HTML  CSS  JS  Result
Edit on 
		.tabrow {
		    text-align: center;
		    list-style: none;
		    margin: 200px 0 20px;
		    padding: 0;
		    line-height: 24px;
		    height: 26px;
		    overflow: hidden;
		    font-size: 12px;
		    font-family: verdana;
		    position: relative;
		}
		.tabrow li {
		    border: 1px solid #AAA;
		    background: #D1D1D1;
		    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    display: inline-block;
		    position: relative;
		    z-index: 0;
		    border-top-left-radius: 6px;
		    border-top-right-radius: 6px;
		    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
		    text-shadow: 0 1px #FFF;
		    margin: 0 -5px;
		    padding: 0 20px;
		}
		.tabrow a {
			  color: #555;
			  text-decoration: none;
		}
		.selected .tabrow a{
			color:white;
		}
		.tabrow li.selected {
		    background: #FFF;
		    color: #333;
		    z-index: 2;
		    border-bottom-color: #FFF;
		}
		.tabrow:before {
		    position: absolute;
		    content: " ";
		    width: 100%;
		    bottom: 0;
		    left: 0;
		    border-bottom: 1px solid #AAA;
		    z-index: 1;
		}
		.tabrow li:before,
		.tabrow li:after {
		    border: 1px solid #AAA;
		    position: absolute;
		    bottom: -1px;
		    width: 5px;
		    height: 5px;
		    content: " ";
		}
		.tabrow li:before {
		    left: -6px;
		    border-bottom-right-radius: 6px;
		    border-width: 0 1px 1px 0;
		    box-shadow: 2px 2px 0 #D1D1D1;
		}
		.tabrow li:after {
		    right: -6px;
		    border-bottom-left-radius: 6px;
		    border-width: 0 0 1px 1px;
		    box-shadow: -2px 2px 0 #D1D1D1;
		}
		.tabrow li.selected:before {
		    box-shadow: 2px 2px 0 #FFF;
		}
		.tabrow li.selected:after {
		    box-shadow: -2px 2px 0 #FFF;
		}
/*end tab design*/

#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  margin: 0 .5em 0 0;
}

#tabs a {
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #fff;
}

#tabs a:focus {
  outline: 0;
}

#tabs a::after {
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;  
}

#tabs #current a,
#tabs #current a::after {
  background: rgb(17,91,54);
  z-index: 3;
  color: #fff;
}

#content {
  background: #fff;
  padding: 2em;
  min-height: 100%;
  position: relative;
  z-index: 2; 
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
  background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) -70%, rgb(17,91,54) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) -70%, rgb(17,91,54) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) -70%, rgb(17,91,54) 100%);
}

.booking-info{
	width: 575px;
}