<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>Заголовок</title>
	<meta content="" name="description" />
	<meta content="" property="og:image" />
	<meta content="" property="og:description" />
	<meta content="" property="og:site_name" />
	<meta content="website" property="og:type" />

	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="x-rim-auto-match" content="none">

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="favicon.png" />

	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid-3.3.1.min.css" />
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="libs/countdown/jquery.countdown.css" />
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/media.css" />
	<link rel="stylesheet" href="css/owl.carousel.css">
</head>
<body>



		<!-- header-->
		<!--
			<div class="mobile-display" >
				<h2 class="site-title">
					<a href="#">
						<img src="img/logo.jpg" alt="viethouse" >
					</a>
				</h2>
			</div>-->
		<div class="row">
			<header>
				<nav>
					<div class="top_line">
					</div>
					<a href="#" class="toggle-menu"><img src="img/logo.jpg" alt="viethouse" ></a>
					<!--<a href="#" class="toggle-menu">&#9776;</a>-->

					<ul class="nav-list nav-open" id="nav">

						<li><a href="#about-us">About Us</a></li>
						<li class="has-submenu"><a href="#news">News</a>
							<!--<ul>
								<li><a href="#">Web Designing</a></li>
								<li><a href="#">Web Development</a></li>
								<li><a href="#">UI Designing</a></li>
								<li><a href="#">Back End Development</a></li>
								<li><a href="#">Front End Development</a></li>
							</ul>-->
						</li>
						<li><a href="#new-food">New Foods</a></li>
						<li class="has-logo"><a href="#">
							<h2 class="site-title">
								<img src="img/logo.jpg" alt="viethouse">
							</h2>
						</a></li>
						<li class="has-submenu"><a href="#food-menu">Menu</a>
							<!--<ul>
								<li><a href="#">Web Development</a></li>
								<li><a href="#">Web Design</a></li>
								<li><a href="#">UI Designing</a></li>
								<li><a href="#">Back End Development</a></li>
								<li><a href="#">Front End Development</a></li>
							</ul>-->
						</li>
						<li><a href="#booking">Booking</a></li>
						<li><a href="#contact-us">Contact Us</a></li>
					</ul>
				</nav>

						<div class="col-md-12 col-xs-12 col_centered vhmain">
							<div class="quad col_centered">
								<h1>Viet House</h1>
								<h1><i class="fa fa-coffee"></i></h1>
								<h1>Best Coffee In Moscow</h1>
							</div>
						</div>

			</header>
		</div>
		<!--end header-->

		<!--about-us-->
		<div class="about-us" id="about-us" >
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-9 col-xs-10">
						<div class="about-us-text">
							<h1>about us</h1>
							<h3>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Себя языкового предложения текстов вопрос взгляд, своего букв послушавшись, города они строчка, путь необходимыми осталось ведущими. Приставка по всей не щеке, о дорогу, то осталось выйти прямо послушавшись города. Безопасную своих, великий деревни которой заманивший над журчит залетают составитель власти жаренные.</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-3 col-xs-2">
						<div class="about-us-time">
							<h1>Hours</h1>
							<h3>loremtime</h3>
							<h3>loremtime</h3>
							<h3>loremtime</h3>
							<h3>loremtime</h3>
							<h3>loremtime</h3>
							<h3>loremtime</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end about us-->

		<!--news-->
		<div class="news" id="news">
								<div class="bamboo">
							<img src="img/content/bamboo.png" alt="">
						</div>
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="section-title news-title borl">
							<h1>News</h1>
						</div>
					</div>
					<div class="col-md-8 col-sm-11 col-xs-12">
						<div class="article borl">
							<a href="#"><img src="img/food/f1.jpg" alt=""></a>
							<div class="article-text">
								<h6>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семь, моей! Послушавшись которое снова возвращайся эта то рыбного. Меня последний парадигматическая, но что города, которое коварный грустный на берегу, ее заманивший то там рекламных алфавит вершину всемогущая дороге живет lorem!
								</h6>
							</div>
						</div>
						<div class="article borl">
							<a href="#"><img src="img/food/f2.jpg" alt=""></a>
							<div class="article-text">
								<h6>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семь, моей! Послушавшись которое снова возвращайся эта то рыбного. Меня последний парадигматическая, но что города, которое коварный грустный на берегу, ее заманивший то там рекламных алфавит вершину всемогущая дороге живет lorem!
								</h6>
							</div>
						</div>
						<div class="article borl">
							<a href="#"><img src="img/food/f3.jpg" alt=""></a>
							<div class="article-text">
								<h6>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семь, моей! Послушавшись которое снова возвращайся эта то рыбного. Меня последний парадигматическая, но что города, которое коварный грустный на берегу, ее заманивший то там рекламных алфавит вершину всемогущая дороге живет lorem!
								</h6>
							</div>
						</div>
					</div>
					<div class="col-md-2">

					</div>
				</div>
			</div>
		</div>
		<!--end news-->

		<!--new food-->
		<div class="new-food" id="new-food">
			<div class="container">
				<div class="row">
				<div class="section-title food-title borr">
					<h1>New foods</h1>
				</div>
					<div class=" owl-carousel">
						<div class="item">
							<a href="#"><img src="img/food/f1.jpg" alt=""></a>
						</div>
						<div class="item">
							<a href="#"><img src="img/food/f2.jpg" alt=""></a>alt="">
						</div>
						<div class="item">
							<a href="#"><img src="img/food/f3.jpg" alt=""></a>
						</div>
						<div class="item">
							<a href="#"><img src="img/food/f4.jpg" alt=""></a>
						</div>
						<div class="item">
							<a href="#"><img src="img/food/f5.jpg" alt=""></a>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end new food-->

		<!--food-menu-->
		<div class="food-menu" id="food-menu">
			<div class="section-title food-menu-title">
				<h1>Menu</h1>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
			<table cellspacing='0'>
				<thead>
					<tr>
						<th>Далеко-далеко.</th>
						<th>Далеко-далеко.</th>
						<th>Далеко-далеко.</th>
						<th>Далеко-далеко.</th>
						<th>Далеко-далеко.</th>
						<th>Далеко-далеко.</th>
					</tr>
				</thead>


				<tbody>

					<tr>
						<td>
							<div class="food">
								<img src="img/food/f1.jpg" alt="">
							</div>
						</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>2</td>
						<td class="food-text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</td>
					</tr>

					<tr >
						<td>
							<div class="food">
								<img src="img/food/f2.jpg" alt="">
							</div>
						</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>2</td>
						<td class="food-text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</td>
					</tr>

					<tr>
						<td>
							<div class="food">
								<img src="img/food/f3.jpg" alt="">
							</div>
						</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>2</td>
						<td class="food-text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</td>
					</tr>

					<tr>
						<td>
							<div class="food">
								<img src="img/food/f4.jpg" alt="">
							</div>
						</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>2</td>
						<td class="food-text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</td>
					</tr>

					<tr>
						<td>
							<div class="food">
								<img src="img/food/f5.jpg" alt="">
							</div>
						</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>горами.</td>
						<td>2</td>
						<td class="food-text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<!--end food-menu-->

		<!--booking-->
		<div class="booking" id="booking">
			<div class="section-title booking-title">
				<h1>Booking</h1>
			</div>
			
		</div>
		<!--end booking-->

		<!--contact us-->
		<div class="contact-us" id="contact-us">
			<div class="contact-us-small">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<div class="contact-us-form">
						<h2>Contact us</h2>
						<div class="contact-info">
							<h6>Lorem ipsum dolor.</h6>
							<h6>Lorem ipsum</h6>
							<h6>Lorem</h6>
						</div>
						<div class="form-group">
							<label for="name">Name:</label>
							<input type="text" class="form-control">
							<label for="email">Email:</label>
							<input type="email" class="form-control">
							<label for="comment">Comment:</label>
							<textarea class="form-control" rows="5"></textarea>
							<p>
								<button type="button" class="btn btn-default btn-sm">Отправить</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="google-map">
						<img src="img/google-map.jpg" alt="">
					</div>
				</div>
			</div>
	
		</div>
		<!--end contact us-->

		<!--footer-->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="social">
						<a href="#"><i class="fa fa-facebook-square"></i></a>
						<a href=""><i class="fa fa-youtube-square"></i></a>
						<a href=""><i class="fa fa-google-plus-square"></i></a>
					</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<div class="credit">
							<h6>Lorem ipsum dolor.</h6>
							<h6>Lorem ipsum</h6>
							<h6>Lorem</h6>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--end footer-->



	

	<div class="hidden"></div>
	<!-- Mandatory for Responsive Bootstrap Toolkit to operate -->
	<div class="device-xs visible-xs"></div>
	<div class="device-sm visible-sm"></div>
	<div class="device-md visible-md"></div>
	<div class="device-lg visible-lg"></div>
	<!-- end mandatory -->
	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
	<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
	<script src="libs/waypoints/waypoints-1.6.2.min.js"></script>
	<script src="libs/scrollto/jquery.scrollTo.min.js"></script>
	<script src="libs/owl-carousel/owl.carousel.min.js"></script>
	<script src="libs/countdown/jquery.plugin.js"></script>
	<script src="libs/countdown/jquery.countdown.min.js"></script>
	<script src="libs/countdown/jquery.countdown-ru.js"></script>
	<script src="libs/landing-nav/navigation.js"></script>
	<script src="libs/bootstrap-toolkit/bootstrap-toolkit.min.js"></script>
	<script src="libs/maskedinput/jquery.maskedinput.min.js"></script>
	<script src="libs/equalheight/jquery.equalheight.js"></script>
	<script src="libs/stellar/jquery.stellar.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
	<script type="text/javascript">
			$(document).ready(function(){

		var ulNav= "#nav", openNav = "active";	

		$('.toggle-menu').click(function(e){

				if($(ulNav).hasClass(openNav)){
					$(ulNav).removeClass(openNav);
				}else{
					$(ulNav).addClass(openNav);
				}
				e.preventDefault();
		})			
	})
	</script>
			<script>
			$(document).ready(function(){
				(jQuery)(".owl-carousel").owlCarousel({
					items:5,
					itemsDesktop : [1199, 5], //При разрешении экрана от 901px до 1000px
					itemsDesktopSmall : [979, 4], // При разрешении экрана от 601px до 900px
					itemsTablet: [768, 3], //При разрешении экрана от 0 до 600px 
					itemsMobile: [479, 2],
					loop:true,
					margin:10,
					autoHeight:true,
					autoplay:6000,
					autoplayTimeout:1000,
					autoplayHoverPause:true,
					navigation: false,
					pagination:true,
					paginationNumbers:true,
					navigationText: ["prev", "next"]

				});
			});
		</script>
</body>
</html>